.footer{
    background-color: #627BF7;
    display: flex;
    align-items: center;
    padding: 50px;
}

.footer li {
    margin: 0 1em;
    list-style: none;
    float: left;
    justify-content: left;

}

.footer p {
    color: white;
    position: relative;
    left: 1600px;
}

.footer img {
    position: relative;
    left: 780px;
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

.footer svg {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}
